In [4]:
import pandas as pd
import numpy as np

In [ ]:
''' Pandas is a powerful and versatile library that simplifies tasks of data manipulation in Python . 
Pandas is built on top of the NumPy library and is particularly well-suited for working with tabular data,
such as spreadsheets or SQL tables. Its versatility and ease of use make it an essential tool for 
data analysts, scientists, and engineers working with structured data in Python '''

''' Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to both "Panel Data" '''

#### create a series object from a List
. a pandas series is a one-dimensional array

. a series combines the best features of a list and a dictionary

. a series maintains a single collection of ordered values(i.e a single column of data)

. we can assign each value an identifier , which does not have to be unique

In [11]:
i = ["chocolate" , "vanilla" , "strawberry" , "rum-raisin"]
pd.Series(i)

0     chocolate
1       vanilla
2    strawberry
3    rum-raisin
dtype: object

In [12]:
d = [1,3,55,1,65,223,]
pd.Series(d)

0      1
1      3
2     55
3      1
4     65
5    223
dtype: int64

In [13]:
r = [True , False, True , True]
pd.Series(r)

0     True
1    False
2     True
3     True
dtype: bool

In [ ]:
# https://pandas.pydata.org/docs/user_guide/10min.html#object-creation

In [15]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
''' 
np.nan stands for "Not a Number" and is a special floating-point
value in NumPy that represents undefined or unrepresentable values 
in computations. It is often used to indicate missing or undefined 
data in numerical arrays. '''

In [16]:
d =pd.date_range("20130101", periods=6)
d

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [19]:
# Define the dates
dates = pd.date_range('20230101', periods=6)

# Create a DataFrame with random values
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

# Print the DataFrame
print(df)

                   A         B         C         D
2023-01-01 -1.082826 -1.456721  1.509180 -1.714055
2023-01-02 -0.135366  0.269342  0.376616 -1.012839
2023-01-03 -0.063815 -0.627247 -0.034131  0.200011
2023-01-04 -1.220555  0.903626  0.229168  0.061529
2023-01-05 -1.319359 -0.600355 -0.988869  1.446262
2023-01-06 -1.228755  0.854594 -1.499073  0.877010

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [23]:
swe = {
    "name":"swetha",
    "age": 22,
    "gender": "female",
    "DOB": "15/3/2001"
}
pd.Series(swe)

name         swetha
age              22
gender       female
DOB       15/3/2001
dtype: object

In [24]:
o = pd.Series([2.34,1,19.23,17,38.93])
o

0     2.34
1     1.00
2    19.23
3    17.00
4    38.93
dtype: float64

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.Series.sum.html#pandas.Series.sum

In [25]:
o.sum()

78.5

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.Series.product.html#pandas.Series.product

In [26]:
o.product()

29780.258741999998

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.Series.mean.html#pandas.Series.mean

In [28]:
o.mean()

15.7

In [29]:
o.std()

15.397754706449899

#### Intro to Attributes
. an attribute is a piece of data that lives on an object

. an attribute is a fact, a detail a characterisitic of the object

. access an attribute with object.attribute syntax

In [ ]:
#https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [30]:
ad = pd.Series(["swetha","sowmiya","swetha","shivu","rithu","etc"])
ad

0     swetha
1    sowmiya
2     swetha
3      shivu
4      rithu
5        etc
dtype: object

In [31]:
ad.size

6

In [32]:
ad.is_unique

False

In [33]:
ad.values

array(['swetha', 'sowmiya', 'swetha', 'shivu', 'rithu', 'etc'],
      dtype=object)

In [34]:
ad.index

RangeIndex(start=0, stop=6, step=1)

In [35]:
type(ad.values)

numpy.ndarray

In [36]:
type(ad.index)

pandas.core.indexes.range.RangeIndex

#### Parameters and Arguments
. a parameter is the name for an expected input to a function/method/class instantiation

. an argument is the concrete value we provide for a parameter during invocation

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [45]:
f = ["apple" , "orange" , "banana" ,"grape" , "plum" , "watermelon"]
w = ["mon" , "tue" , "wed" , "thus" , "fri" , "mon"]
print(pd.Series(f))
print(pd.Series(w))

0         apple
1        orange
2        banana
3         grape
4          plum
5    watermelon
dtype: object
0     mon
1     tue
2     wed
3    thus
4     fri
5     mon
dtype: object

In [46]:
print(pd.Series(f,w))

mon          apple
tue         orange
wed         banana
thus         grape
fri           plum
mon     watermelon
dtype: object

In [47]:
pd.Series(w,f)

apple          mon
orange         tue
banana         wed
grape         thus
plum           fri
watermelon     mon
dtype: object

In [48]:
pd.Series(data=f,index=w)

mon          apple
tue         orange
wed         banana
thus         grape
fri           plum
mon     watermelon
dtype: object

In [49]:
pd.Series(index=w,data=f)

mon          apple
tue         orange
wed         banana
thus         grape
fri           plum
mon     watermelon
dtype: object

In [50]:
pd.Series(f , index = w)

mon          apple
tue         orange
wed         banana
thus         grape
fri           plum
mon     watermelon
dtype: object

#### Import Series with the pd.read_csv Function
• A CSV is a plain text file that uses line breaks to separate rows and commas to separate row values.

• Pandas ships with many different read_functions for different types of files.

• The read_csv function accepts many different parameters. The first one specifies the file name/path.

• The read_csv function will import the dataset as a DataFrame, a 2-dimensional table.

• The usecols parameter accepts a list of the column(s) to import.

• The squeeze method converts a DataFrame to a Series.

In [51]:
pd.read_csv("data.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'data.txt'