In [29]:
def num(n1):
    org = n1
    rev = 0
    while n1>0:
        rem = n1%10
        rev = (rev*10) + rem
        n1 = n1//10
    if org == rev:
        print("true")
    else:
        print("false")
num(121)
num(1232)

true
false

In [3]:
s = 9
x = str(s)
print(x)
print(type(x))

9
<class 'str'>

In [6]:
n = int(input("enter:"))
l = []
for i in range(n):
    num = float(input("enter:"))
    l.append(num)
print(l)

enter:5
enter:44.44
enter:44.56
enter:55.5
enter:23.65
enter:23.23
[44.44, 44.56, 55.5, 23.65, 23.23]

In [12]:
n = int(input("enter:"))
l = []
for i in range(n):
    num = float(input("enter:"))
    l.append(num)
print(l)

enter:2
enter:22
enter:222
[22.0, 222.0]

In [18]:
for i in range(5):
    for j in range(i):
        print(i,end="")
    print("\n")

1

22

333

4444

In [19]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end="")
    print("\t\t")

12345678910
2468101214161820
36912151821242730
481216202428323640
5101520253035404550
6121824303642485460
7142128354249566370
8162432404856647280
9182736455463728190
102030405060708090100

In [21]:
for i in range(5):
    for j in range(i):
        print("*",end="")
    print("\n")

*

**

***

****

In [31]:
for i in range(5,0,-1):
    for j in range(0,i-1):
        print("*",end="")
    print("\n")

****

***

**

*

In [32]:
r = 4
for i in range(1,r+1,1):
    for j in range(1,i+1):
        print(j,end="")
    print("\n")

1

12

123

1234

In [1]:
s = 0
n=int(input())
for i in range(1,n+1,1):
    s +=i
print('\n')
print(s)

5


15

1+2+3+4

In [9]:
s = 0
num = int(input("enter:"))
for i in range(1,num+1,1):
    s+=i
print(s)

enter:4
10

In [10]:
rep = int(input("enter:"))
lit = []
for i in range(rep):
    s = float(input("enter:"))
    lit.append(s)
print(lit)

enter:4
enter:22.33
enter:12
enter:14.55
enter:33.33
[22.33, 12.0, 14.55, 33.33]

In [20]:
lit = [12, 75, 150, 180, 145, 525, 50]
for i in lit:
    if i > 500:
        break
    elif i > 150:
        continue
    elif i %5 == 0:
        print(i)

75
150
145

In [18]:
numbers = [12, 75, 150, 180, 145, 525, 50]
# iterate each item of a list
for item in numbers:
    if item > 500:
        break
    elif item > 150:
        continue
    # check if number is divisible by 5
    elif item % 5 == 0:
        print(item)

75
150
145

In [11]:
r = 5
for i in range(1,r+1,1):
    for j in range(1,i+1):
        print(j,end="")
    print("\n")

1

12

123

1234

12345

In [16]:
for i in range(6,0,-1):
    for j in range(0,i-1):
        print("*",end="")
    print("\n")

*****

****

***

**

*

In [106]:
r =7
for i in range(r):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")
for i in range(r,0,-1):
    for j in range(0,i-1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******
******
*****
****
***
**
*

In [105]:
n = 8
for i in range(n,6,-1):
    for j in range(0,i-1):
        print(j,end="")
    print("\n")

0123456

012345

In [27]:
def exponent(base, exp):  # (3,4)
    result = 1  #3
    while exp > 0:
        result = result * base  #re = 1*3 = 3       #3*3*3*3
        exp = exp - 1   # 1
    print(result)

exponent(5, 4)

In [28]:
print(type(0xFF))

<class 'int'>

In [29]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [33]:
x = 50
def fun1():
    # your code to assign global x = 20
    global x
    x = 20


fun1()
print(x) # it should print 20

20

In [34]:
print(type({}) is set)

False

In [35]:
type(range(5))

range

In [36]:
print(type([]) is list)

True

In [37]:
def func1():
    x = 50
    return x
func1()
print(x)

20

In [40]:
def func():
    x = 50
    return x
func()
print(x)

20

In [1]:
num = int(input("enter:"))
cou = 0
while num!= 0:
    num = num // 10
    cou = cou +1
print(cou)

enter:657687
6

In [8]:
n = 5
s = 5
for i in range(0,n+1):
    for j in range(s-i,0,-1):
        print(j,end="")
    print("\n")

54321

4321

321

21

1

In [9]:
list1 = [10, 20, 30, 40, 50]
lit = reversed(list1)
for i in lit:
    print(i)

50
40
30
20
10

In [10]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [12]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [18]:
s = 1
e = 50
for i in range(s,e+1):
    if i >0:
        for j in range(2,i):
            if (i%j) == 0:
                break
        else:
            print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [22]:
n1 = 0
n2 = 1
for i in range(10):
    print(n1,end=" ")
    num = n1+n2
    
    n1=n2
    n2=num

0 1 1 2 3 5 8 13 21 34

In [24]:
num = 5
fact = 1
for i in range(1,num+1,1):
    fact = fact*i
print(fact)

120

In [31]:
def pp(n1):
    original = n1
    rev = 0
    while n1>0:
        rem = n1%10
        rev = (rev*10) + rem
        n1 = n1//10   
    if original == rev:
        print("true")
    else:
        print("false")
pp(121)

true

In [32]:
def pb(num):
    rev = 0
    while num>0:
        rem = num %10
        rev = (rev*10) + rem
        num = num // 10
    print(rev)
pb(12345)

54321

In [42]:
lit = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in lit[1::2]:
    print(i,end="  ")

20  40  60  80  100

In [51]:
lit = [10, 20, 37, 40, 55, 60, 70, 80, 99, 100]
l1 = []
for i in lit:
    if i %2 == 0:
        l1.append(i)
    else:
        continue
print(l1)

[10, 20, 40, 60, 70, 80, 100]

In [53]:
s= 7
for i in range(1,7+1):
    print(i*i*i)

1
8
27
64
125
216
343

In [78]:
n =5
start = 2
seq = 0
for i in range(0,n):
    print(start, end="+  ")
    seq += start
    start = start *10 +2
print("\nthe series :",seq)

2+  22+  222+  2222+  22222+
the series : 24690

In [82]:
input_string = input("Enter three strings separated by spaces: ")
input_list = input_string.split()

if len(input_list) == 3:
    str1, str2, str3 = input_list
    print('Name1:', str1)
    print('Name2:', str2)
    print('Name3:', str3)
else:
    print("Please enter exactly three strings separated by spaces.")

Enter three strings separated by spaces: swe sow shi
Name1: swe
Name2: sow
Name3: shi

In [87]:
r = 5
for i in range(0,r):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")
for i in range(r,0,-1):
    for j in range(0,i-1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
****
***
**
*

In [102]:
for i in range(6,0,-1):
    for j in range(0,i-1):
        print("&",end="")
    print("\n")

&&&&&

&&&&

&&&

&&

&

In [107]:
def human(name,age):
    print("hello " ,name)
    print("are you ",age, "years old?")
human("swetha",22)

hello  swetha
are you  22 years old?

In [110]:
def func1(name):
    x = len(name)
    print(x)
func1("swetha")

6

In [117]:
def func1(*integer):
    for i in integer:
        print(i)
func1(11,54,99)
func1(64,32)

11
54
99
64
32

In [124]:
def calculation(a, b):
    # Your Code
    return a+b,a-b

res = calculation(40, 10)
print(res)

(50, 30)

In [126]:
def showEmployee(name , sal = 9000):
    print("name:",name," sal:",sal)
showEmployee("swe",10000000)
showEmployee("sow",11111111)
showEmployee("therila")

name: swe  sal: 10000000
name: sow  sal: 11111111
name: therila  sal: 9000

In [127]:
print(2%6)

2

In [2]:
def pet(a,b):
    c= a**b
    def eat(a,b):
        return a+b
    
    add = eat(a,b)
    return add+5
res = pet(5,10)
print(res)

20

In [1]:
def tik(n):
    if n:
        return n + tik(n-1)
    else:
        return 0
ret = tik(8)
print(ret)

36

In [6]:
print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [7]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

In [2]:
st = "james"
print(st[0::2])

jms

In [3]:
# get string of first , middle and last letter:
st = "james"
res = st[0]
l = len(st)
mid = int(l/2)
res = res + st[mid]
res = res + st[l -1]
print(res)

jms

In [20]:
def word(string):
    mid = int(len(string)/2)
    res = string[mid-1:mid+2]
    print(res)
word("swethas")
word("JaSonAy")
word("JhonDipPeta")

eth
Son
Dip

In [25]:
def word(s1,s2):
    mid = int(len(s1)/2)
    res = s1[:mid:]
    res = res + s2
    res = res + s1[mid:]
    print(res)
word("Ault","Kelly")

AuKellylt

In [26]:
def word(s1,s2):
    s = int(len(s1)/2)
    t = int(len(s2)/2)
    r = s1[0]+s2[0]+s1[s]+s2[t]+s1[-1]+s2[-1]
    print(r)
word("America","Japan")

AJrpan

In [33]:
s = "PyNaTive"
l1 = []
l2 = []
for i in s1:
    if i.islower():
         l1.append(i)
    else :
        l2.append(i) 
s = ''.join(l1+l2)
print(s)

yaivePNT

In [1]:
print('%x, %X' % (15, 15))

f, F

In [2]:
x = float('NaN')
print('%f, %e, %F, %E' % (x, x, x, x))

nan, nan, NAN, NAN

In [3]:
print('[%c]' % 65)

[A]

In [6]:
s = input()
print(s)
print(type(s))

52573
52573
<class 'str'>

In [7]:
print(sep='--', 'Ben', 25, 'California')

SyntaxError: positional argument follows keyword argument (1709515899.py, line 1)

In [8]:
print('PYnative ', end='//')
print(' is for ', end='//')
print(' Python Lovers', end='//')

PYnative // is for // Python Lovers//

In [11]:
def word(s1,s2):
    if s1 in s2:
        print("True")
    else:
        print("false")
word("Yn", "PYnative")
word("Ynf","PYnative")

True
false

In [14]:
str1 = "Welcome to USA. usa awesome, isn't it?"
st = str1.lower()
y = st.count("usa")
print(y)

2

In [33]:
str1 = "PYnative29@#8496"
lis = []
for i in str1:
    if i.isdigit():
        lis.append(i)
        
    else:
        continue
        
print( "actual integers:" , lis)

actual integers: ['2', '9', '8', '4', '9', '6']

NameError: name 'count' is not defined

In [40]:
str1 = "PYnative29@#8496"
b = 0
c = 0
for i in str1:
    if i.isdigit():
        c +=1
        i =int(i)
        b = b + i    
    else:
        continue
print( "actual integers:" , b)
print(b/c)

actual integers: 38
6.333333333333333

In [44]:
st = "Apple"
c = dict()

for i in st:
    count = st.count(i)
    # add / update the count of a character
    c[i] = count
print('Result:', c)

Result: {'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [45]:
st = "sharan"
swe = dict()
for i in st:
    count = st.count(i)
    swe[i] = count
print(swe)

{'s': 1, 'h': 1, 'a': 2, 'r': 1, 'n': 1}

In [47]:
st = "swetha"
print(st[::-1])

ahtews

In [2]:
st = "Emma is a data scientist who knows Python. Emma works at google."
index = st.rfind("Emma")
print(index)

43

In [1]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
print("Original String is:", str1)

index = str1.rfind("Emma")
print("Last occurrence of Emma starts at index:", index)

Original String is: Emma is a data scientist who knows Python. Emma works at google.
Last occurrence of Emma starts at index: 43

In [5]:
st = "Emma-is-a-data-scientist"
s = st.split('-')
print(s)
print("\n")

for i in s:
    print(i)

['Emma', 'is', 'a', 'data', 'scientist']


Emma
is
a
data
scientist

In [6]:
l1 = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
s1 = []
for i in l1:
    
    if i:
        s1.append(i)
print(s1)

['Emma', 'Jon', 'Kelly', 'Eric']

In [7]:
import string

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

new_str = str1.translate(str.maketrans('', '', string.punctuation))

print("New string is ", new_str)

Original string is  /*Jon is @developer & musician
New string is  Jon is developer  musician

In [9]:
import string
st = "/*Jon is @developer & musician"

s = st.translate(str.maketrans('','',string.punctuation))
print(s)

Jon is developer  musician

In [10]:
str1 = 'I am 25 years and 10 months old'
print("Original string is", str1)

# Retain Numbers in String
# Using list comprehension + join() + isdigit()
res = "".join([item for item in str1 if item.isdigit()])

print(res)

Original string is I am 25 years and 10 months old
2510

In [11]:
str1 = "Emma25 is Data scientist50 and AI Expert"
print("The original string is : " + str1)

res = []
# split string on whitespace
temp = str1.split()

# Words with both alphabets and numbers
# isdigit() for numbers + isalpha() for alphabets
# use any() to check each character

for item in temp:
    if any(char.isalpha() for char in item) and any(char.isdigit() for char in item):
        res.append(item)

print("Displaying words with alphabets and numbers")
for i in res:
    print(i)

The original string is : Emma25 is Data scientist50 and AI Expert
Displaying words with alphabets and numbers
Emma25
scientist50

In [12]:
import string

str1 = '/*Jon is @developer & musician!!'
print("The original string is : ", str1)

# Replace punctuations with #
replace_char = '#'

# string.punctuation to get the list of all special symbols
for char in string.punctuation:
    str1 = str1.replace(char, replace_char)

print("The strings after replacement : ", str1)

The original string is :  /*Jon is @developer & musician!!
The strings after replacement :  ##Jon is #developer # musician##

In [17]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l3 = []
l4 = []
for i in l1:
    if i%2!=0:
        l3.append(i)
    
for j in l2:
    if j%2==0:
        l4.append(j)
    
print(l3+l4)

[3, 9, 15, 21, 4, 8, 12, 16, 20, 24, 28]

In [18]:
list1 = [3, 6, 9, 12, 15, 18, 21]
list2 = [4, 8, 12, 16, 20, 24, 28]
res = list()

odd_elements = list1[1::2]
print("Element at odd-index positions from list one")
print(odd_elements)

even_elements = list2[0::2]
print("Element at even-index positions from list two")
print(even_elements)

print("Printing Final third list")
res.extend(odd_elements)
res.extend(even_elements)
print(res)

Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]
Printing Final third list
[6, 12, 18, 4, 12, 20, 28]

In [1]:
def prr(word , n):
    x = word[n :]
    return x

case1 = prr("pynative",4)
print(case1)
case2 = prr("pynative",2)
print(case2)

tive
native

In [2]:
def frts(numberList):
    x = numberList[0]
    y = numberList[-1]
    if x == y :
        return True
    else:
        return False

d = [10, 20, 30, 40, 10]
print(d,frts(d))
dd = [75, 65, 35, 75, 30]
print(dd,frts(dd))

[10, 20, 30, 40, 10] True
[75, 65, 35, 75, 30] False

In [3]:
def pot(numberList):
    s = numberList[0]
    a = numberList[-1]
    if s == a :
        return True
    else:
        return False

r = [10, 20, 30, 40, 10]
print(pot(r))
w = [75, 65, 35, 75, 30]
print(pot(w))

True
False

In [4]:
lit = [10, 20, 33, 46, 55]
for i in lit:
    if i % 5 == 0:
        print(i)

10
20
55

In [5]:
x = "Emma is good developer. Emma is a writer"
y = x.count("Emma")
print(y)

2

In [6]:
for i in range(10):
 print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") 
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [8]:
str1 = 'James'
print("Original String is", str1)

# Get first character
res = str1[0]

# Get string size
l = len(str1)
# Get middle index number
mi = int(l / 2)
# Get middle character and add it to result
res = res + str1[mi]

# Get last character and add it to result
res = res + str1[l - 1]

print("New String:", res)

Original String is James
New String: Jms

In [9]:
ste = "swetha"
res = ste[0]
lee = len(ste)
moo = int(lee/2)
res = res + ste[moo]
res = res + ste[lee-1]
print(res)

sta

In [10]:
sit = "swethas"
res = sit[0]
rit = sit[-1]
s = len(sit)
ret = int(s/2)
e = sit[ret]
print(res,e,rit)

s t s

In [13]:
st = "james"
res = st[0]
ret = len(st)
mid = int(ret/2)
res = res + st[mid]
res = res + st[ret-1]

In [14]:
for num in range(3):
    for i in range(num):
        print(num , end=" ")
    print("\n")

1

2 2

In [15]:
num = int(input("enter:"))
su = int(input("enter:"))
x = num*su
print(x)

enter:2
enter:3
6

In [16]:
str1 = ('re','edva','efae',sep='**')
print(str1)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1599897895.py, line 1)

In [17]:
print('My', 'Name', 'Is', 'James', sep='**')

My**Name**Is**James

In [18]:
n = 9
print("%o" % n)

11

In [19]:
num = 458.541315
print("%.2f" % num)

458.54

In [20]:
numbers = []

# 5 is the list size
# run loop 5 times
for i in range(0, 5):
    print("Enter number at location", i, ":")
    # accept float number from user
    item = float(input())
    # add it to the list
    numbers.append(item)

print("User List:", numbers)

Enter number at location 0 :
2
Enter number at location 1 :
3
Enter number at location 2 :
4
Enter number at location 3 :
5
Enter number at location 4 :
6
User List: [2.0, 3.0, 4.0, 5.0, 6.0]

In [21]:
num = float(input("enter:"))
x = list[num]
print(x)

enter:3
list[3.0]

In [22]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end="")
    print("\t\t")

12345678910
2468101214161820
36912151821242730
481216202428323640
5101520253035404550
6121824303642485460
7142128354249566370
8162432404856647280
9182736455463728190
102030405060708090100

In [23]:
for i in range(8, 0,-1):
    for j in range(0, i-1):
        print('*',end="")
    print(" ")

*******
******
*****
****
***
**
*

In [25]:
print(type(0xFF))

<class 'int'>

In [26]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [27]:
def p(b,e):
    n=e
    r=1
    while n>0:
        r = r*b
        n=n-1
    print(r)
p(9,4)

6561

In [28]:
def prblm(base,expo):
    num = expo
    res = 1
    while num>0:
        res = res*base
        num = num-1
    print(res)
prblm(4,4)
prblm(2,3)

256
8

In [29]:
def problem(str1,num1):
    no = str1[num1:]
    return no
print(problem("pynative",4))
print(problem("pynative",2))
print(problem("pynative",5))

tive
native
ive

In [30]:
str1="pynative"
print(str1[4:])
print(str1[2:])

tive
native

In [31]:
def prblm(l1):
    if l1[0] == l1[-1]:
        return True
    else:
        return False
case1 = prblm([10, 20, 30, 40, 10])
print(case1)
case2 = prblm([75, 65, 35, 75, 30])
print(case2)

True
False

In [32]:
def pro(lis):
    for i in lis:
        if i%5==0:
            print(i)
pro([10, 20, 33, 46, 55])

10
20
55

In [33]:
for i in range(10):
    for j in range(i):
        print(i,end="")
    print("\n")

1

22

333

4444

55555

666666

7777777

88888888

999999999

In [3]:
def word(s1,s2):
    s = int(len(s1)/2)
    x = s1[:s:]
    x = x+s2
    x = x + s1[s:]
    print(x)
word("swetha"," sha ")

swe sha tha

In [35]:
swe = "swethas"
x = int(len(swe)/2)
s = swe[:x]
print(s)

swe

In [36]:
swe = "swethas"
x = int(len(swe)/2)
s = swe[x:]
print(s)

thas

In [37]:
s = "swetha"
print(s[1:4:2])

wt

In [38]:
def word(s1,s2):
    s = int(len(s1)/2)
    x = int(len(s2)/2)
    w = s1[0] + s2[0] + s1[s] + s2[x] + s1[-1] + s2[-1]
    print(w)
word("America" , "Japan")

AJrpan

In [39]:
st = "PYnAtivE"
lower = []
upper = []
for i in st:
    if i.islower():
      lower.append(i)
    else:
      upper.append(i)
x = ''.join(lower + upper)
print(x)

ntivPYAE

In [40]:
for i in range(5):
    for s in range(i):
        print(i,end="")
    print("\n")

1

22

333

4444

In [41]:
st = 7654
while st>0:
    rem = st%10
    st = st//10
    print(rem,end="")

4567

In [42]:
def word(num):
    original = num
    rev = 0
    while num >0:
        rem = num%10
        rev = (rev*10) + rem
        num = num//10
        
    if original == rev:
        print("hr")
    else:
        print("ijr")
word(121)
word(909098)

hr
ijr

In [43]:
def word(num):
    original = num
    rev = 0
    while num>0:
        rem = num%10
        rev = (rev*10) + rem
        num = num//10
        
    if original == rev:
         print("tre")
    else:
         print("ui")
        
word(121)

tre

In [44]:
def word(l1,l2):
    lists = []
    for i in l1:
        if i %2!=0:
            lists.append(i)
    for i in l2:
        if i %2==0:
            lists.append(i)
    return lists

l1 = [10, 20, 25, 30, 35]
l2 = [40, 45, 60, 75, 90]
print(word(l1,l2))

[25, 35, 40, 60, 90]

In [45]:
def word(l1):
    lower = []
    upper = []
    for i in l1:
        if i.islower():
            lower.append(i)
        else:
            upper.append(i)
    print("".join(lower+upper))
    
word("syDgGF")

sygDGF

In [46]:
def word(num):
    original = num
    rev = 0
    while num >0:
        rem = num%10
        rev = (rev*10) + rem
        num = num//10
        
    if original == rev:
        print("hr")
    else:
        print("ijr")
word(121)
word(909098)

hr
ijr

In [47]:
def www(num):
    original = num
    rev = 0
    while num >0:
        rem = num%10
        rev = (rev*10) + rem
        num = num //10
        
    if original == rev :
        print("mmm")
    else:
        print("nnn")
www(11221)
www(392)

nnn
nnn

In [48]:
def prblm(num):
    original = num
    rev = 0
    while num >0:
        rem = num%10
        rev = (rev*10) +rem
        num = num // 10
        
    if original == rev:
         print("yes")
    else:
        print("no")
prblm(121)
prblm(123)

yes
no

In [49]:
def palindrome(number):
    original_num = number
    
    # reverse the given number
    reverse_num = 0
    while number > 0:
        reminder = number % 10
        reverse_num = (reverse_num * 10) + reminder
        number = number // 10

    # check numbers
    if original_num == reverse_num:
        print("Given number palindrome")
    else:
        print("Given number is not palindrome")

palindrome(121)
palindrome(125)

Given number palindrome
Given number is not palindrome

In [50]:
s = 0
for i in range(1,11):
    x = s + i 
    print("pre",s,"cur",i,"sum",x)
    s = i

pre 0 cur 1 sum 1
pre 1 cur 2 sum 3
pre 2 cur 3 sum 5
pre 3 cur 4 sum 7
pre 4 cur 5 sum 9
pre 5 cur 6 sum 11
pre 6 cur 7 sum 13
pre 7 cur 8 sum 15
pre 8 cur 9 sum 17
pre 9 cur 10 sum 19

In [51]:
def word(sti):
    tit = 0
    did = 0
    sis = 0
    for i in sti:
        if i.isalpha():
            tit += 1
        elif i.isdigit():
            did += 1
        else:
            sis += 1
    print("char:",tit,"digit:",did,"symbol:",sis)

word("P@yn2at&#i5ve")

char: 8 digit: 2 symbol: 3

In [52]:
def word(sti):
    tit = 0
    did = 0
    sis = 0
    for i in sti:
        if i.isalpha():
            tit += 1
        elif i.isdigit():
            did += 1
        else:
            sis += 1
        print("Chars =", tit, "Digits =", did, "Symbol =", sis)
    
word("P@yn2at&#i5ve")

Chars = 1 Digits = 0 Symbol = 0
Chars = 1 Digits = 0 Symbol = 1
Chars = 2 Digits = 0 Symbol = 1
Chars = 3 Digits = 0 Symbol = 1
Chars = 3 Digits = 1 Symbol = 1
Chars = 4 Digits = 1 Symbol = 1
Chars = 5 Digits = 1 Symbol = 1
Chars = 5 Digits = 1 Symbol = 2
Chars = 5 Digits = 1 Symbol = 3
Chars = 6 Digits = 1 Symbol = 3
Chars = 6 Digits = 2 Symbol = 3
Chars = 7 Digits = 2 Symbol = 3
Chars = 8 Digits = 2 Symbol = 3

In [54]:
def word(sti):
    tit = 0
    did = 0
    sis = 0
    for i in sti:
        if i.isalpha():
            tit += 1
        elif i.isdigit():
            did += 1
        else:
            sis += 1
        print("char:",tit,"digit:",did,"symbol:",sis)

word("P@yn2at&#i5ve")

char: 1 digit: 0 symbol: 0
char: 1 digit: 0 symbol: 1
char: 2 digit: 0 symbol: 1
char: 3 digit: 0 symbol: 1
char: 3 digit: 1 symbol: 1
char: 4 digit: 1 symbol: 1
char: 5 digit: 1 symbol: 1
char: 5 digit: 1 symbol: 2
char: 5 digit: 1 symbol: 3
char: 6 digit: 1 symbol: 3
char: 6 digit: 2 symbol: 3
char: 7 digit: 2 symbol: 3
char: 8 digit: 2 symbol: 3

In [55]:
def word(sti):
    tit = 0
    did = 0
    sis = 0
    for i in sti:
        if i.isalpha():
            tit += 1
        elif i.isdigit():
            did += 1
        else:
            sis += 1

    print("Chars =", tit, "Digits =", did, "Symbol =", sis)
    
word("P@yn2at&#i5ve")

Chars = 8 Digits = 2 Symbol = 3

In [56]:
def word(sti):
    tit = 0
    did = 0
    sis = 0
    for i in sti:
        if i.isalpha():
            tit += 1
        elif i.isdigit():
            did += 1
        else:
            sis += 1
        print("char:",tit,"digit:",did,"symbol:",sis)

word("P@yn2at&#i5ve")

char: 1 digit: 0 symbol: 0
char: 1 digit: 0 symbol: 1
char: 2 digit: 0 symbol: 1
char: 3 digit: 0 symbol: 1
char: 3 digit: 1 symbol: 1
char: 4 digit: 1 symbol: 1
char: 5 digit: 1 symbol: 1
char: 5 digit: 1 symbol: 2
char: 5 digit: 1 symbol: 3
char: 6 digit: 1 symbol: 3
char: 6 digit: 2 symbol: 3
char: 7 digit: 2 symbol: 3
char: 8 digit: 2 symbol: 3

In [57]:
swethaa = "sowmiya"
print('she is okay{}'.format(swethaa))

she is okaysowmiya

In [58]:
print(f'she is okay{"  swetha"}')

she is okay  swetha

In [59]:
s =  "jhmf"
print('she is okay {}'.format(s))

she is okay jhmf

In [60]:
print("she is okay" + swethaa)

she is okaysowmiya

In [61]:
s = int(input("enter:"))
print(s)

enter:3345
3345

In [62]:
print('oh no that\'s fine')

oh no that's fine

In [63]:
print("oh no thats \"fine\" ")

oh no thats "fine"

In [64]:
days = 844434
print(f"those days in my life was good and {days} so it is so awsome days in these {days}")

those days in my life was good and 844434 so it is so awsome days in these 844434

In [65]:
d = 79428
f = float(d)
s = str(f)
e = int(f)
print(d)
print(f)
print(s)
print(e)

79428
79428.0
79428.0
79428

In [66]:
a = 5
g = str(a)
print(g)

5

In [68]:
print(type(g))
print(type(s))
print(type(f))
print(type(d))
print(type(e))

<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'int'>

In [69]:
def swee():
    s = 3244
    d = 8079365
    f = d-s
    print(f)

In [72]:
n= 20
if n == 20:
    print("ekbhf")
elif n == 30:
        print("khdfjcc")
else:
        print("qwertyu")

ekbhf

In [73]:
ref = ["swetha" , "sowmiya" , "shivu" , "shakthi" ]
for i in ref:
    print(i)

swetha
sowmiya
shivu
shakthi

In [74]:
scores = [34, 167, 99, 105] 
for s in scores: 
    if s > 100: 
        print("Invalid") 
        break
        print(s)

Invalid

In [4]:
tuple = ("poriki" , "serupu" , "thoddapakata", "dash")

#it is fixed values . we can't add anything , can't delete anything , replace

print(tuple)

('poriki', 'serupu', 'thoddapakata', 'dash')

In [5]:
aataa = (323,2478,89,92,211)
print( tuple + aataa)

('poriki', 'serupu', 'thoddapakata', 'dash', 323, 2478, 89, 92, 211)

In [6]:
for i in tuple:
    print(i)

poriki
serupu
thoddapakata
dash

In [78]:
def problem(num1 , num2):
 product = num1 * num2
 if product <= 1000:
  return product
 else:
  return num1+num2

case1 = problem(20,30)
print("its ", case1)
case2 = problem(40,30)
print("its", case2)

its  600
its 70

In [79]:
r = 0
n = int(input())
for i in range(1,n+1,1):
    r +=i
print("\n")
print(r)

3


6

In [80]:
for i in range(6,0,-1):
    for j in range(0,i-1):
        print("*",end="")
    print("\n")

*****

****

***

**

*

In [81]:
s = 0
num = int(input("enter:"))
while num<10:
    i = num+1
    s+=1
print(i)

enter:20
1

In [82]:
for i in range(1,11):
    s = i*2
    print(s)

2
4
6
8
10
12
14
16
18
20

In [83]:
def num(n1):
    org = n1
    rev = 0
    while n1>0:
        rem = n1%10
        rev = (rev*10) + rem
        n1 = n1//10
    if org == rev:
        print("true")
    else:
        print("false")
num(121)
num(1232)

true
false

In [85]:
n = int(input("enter:"))
l = []
for i in range(n):
    num = float(input("enter:"))
    l.append(num)
print(l)

enter:3
enter:23
enter:22.88
enter:23.78
[23.0, 22.88, 23.78]

In [86]:
n = int(input("enter:"))
l = []
for i in range(n):
    num = float(input("enter:"))
    l.append(num)
print(l)

enter:2
enter:22.98
enter:2
[22.98, 2.0]

In [87]:
for i in range(5):
    for j in range(i):
        print(i,end="")
    print("\n")

1

22

333

4444